@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap") /* Import CSS reset */ @import "normalize.css";

/* Import Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: #f2f4f7;
}

.main-nav a.active {
  border-color: rgb(59, 130, 246);
}
